.header {
  background-color: $color-grey-dark-1;
  background-image:
    linear-gradient(
      rgba($color-secondary, .93),
      rgba($color-secondary, .93),
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  display: grid;
  grid-column: full-start / col-end 6;
  grid-row-gap: 1.5rem;
  grid-template-columns: max-content;
  grid-template-rows: 1fr min-content 6rem 1fr;
  justify-content: center;
  padding: 8rem;
  padding-top: 4rem;

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }
  
  &__seenon-logos {

    img {
      height: 2.5rem;
    } 
  }

  &__seenon-text {

  }
}
