.home {
  background-color: $color-grey-light-1;
  display: grid;
  grid-row-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);

  &__area,
  &__location,
  &__price,
  &__rooms {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    margin-left: 2rem;

    & > svg {
      fill: $color-primary;
      height: 2rem;
      margin-right: 1rem;
      width: 2rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
  }

  &__like {
    fill: $color-primary;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    height: 2.5rem;
    justify-self: end;
    margin: 1rem;
    width: 2.5rem;
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__name {
    align-self: end;
    background-color: $color-secondary;
    color: white;
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 400;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    transform: translateY(50%);
    padding: 1.25rem;
    text-align: center;
    width: 80%;
  }
}

.homes {
  // background-color: $color-secondary;
  display: grid;
  grid-column: center-start / center-end;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 15rem 0;
}
