.sidebar {
  background-color: $color-primary;
  display: flex;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  justify-content: center;
  // if this sidebar is breaking, switch this
  // with the margin top in .nav-btn
  padding-top: 4rem;

  @media only screen and (max-width: $bp-lg) {
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 0;
  }
}

.nav-btn {
  background-color: #fff;
  border: none;
  border-radius: 0;
  height: .2rem;
  // margin-top: 4rem;
  width: 4.5rem;

  &::after,
  &::before {
    // background-color: red;
    background-color: white;
    content: "";
    display: block;
    height: .2rem;
    width: 4.5rem;
  }

  &::after {
    transform: translateY(1.3rem);
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  @media only screen and (max-width: $bp-lg) {
    &::after {
      transform: translateY(1.0rem);
    }
  
    &::before {
      transform: translateY(-1.2rem);
    }
  }
}
