.story {


  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;

    // flexbox implementation
    // align-items: start;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    // css grid implementation
    align-content: center;
    display: grid;
    justify-items: start;

    @media only screen and (max-width: $bp-md) {
      grid-column: 1 / -1;
      // grid-row: feature-end / span 1;
      grid-row: 5 / span 1;
    }
  }

  &__img--1 {
    box-shadow: 0 2rem 5rem rgba(black, .25);
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    width: 100%;

    @media only screen and (max-width: $bp-md) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img--2 {
    box-shadow: 0 2rem 5rem rgba(black, .25);
    grid-column: 4 / -1;
    grid-row: 4 / span 2;
    width: 115%;
    z-index: 1;

    @media only screen and (max-width: $bp-md) {
      grid-row: 1 / -1;
      width: 100%;
    }
  }

  &__pictures {
    align-items: center;
    background-color: $color-primary;
    // holyyyyyy 1@#%!@#% the "Unfortunately..." response lmao
    // https://css-tricks.com/tinted-images-multiple-backgrounds/
    background-image:
      linear-gradient(
        rgba($color-primary, .5),
        rgba($color-primary, .5)
      ),
      url("../img/back.jpg");
    background-size: cover;
    display: grid;
    grid-column: full-start / col-end 4;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    @media only screen and (max-width: $bp-md) {
      grid-column: 1 / -1;
      padding: 6rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
