:root {
  // box shadows
  --box-shadow-0: 0 1rem 4rem rgba(0, 0, 0, .25);
  --box-shadow-1: 0 2rem 6rem rgba(0, 0, 0, .3);
  --box-shadow-2: 0 2rem 5rem rgba(0, 0, 0, .1);

  // colors
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  
  --color-primary: #eb2f64;
  --color-primary-dark: #ba265d;
  --color-primary-light: #ff3366;

  --color-white: white;

  // fonts
  --font-color: var(--color-grey-dark-2);

  // icons
  --icon-size-0: 1.75rem;
  --icon-size-1: 2rem;
  --icon-size-2: 2.25rem;
  --icon-size-3: 3.75rem;

  // logo
  --logo-size: 3.25rem;

  // transitions
  --transition-all-1: all .2s;

  // unalphabetical listings below
  --border-bottom-0: .1rem solid var(--color-grey-light-2);
}

// for media queries
$bp-largest: 75em;    //1200px
$bp-large: 68.75em;   //1100px
$bp-medium: 56.25em;  //900px
// $bp-small: 37.5em; //600px
$bp-small: 40em;      //640px
$bp-smallest: 31.25em;  //500px

