.content {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-1);
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem;
}

.header {
  align-items: center;
  background-color: var(--color-white);
  border-bottom: $border-bottom-small;
  display: flex;
  font-size: 1.4rem;
  height: 7rem;
  justify-content: space-between;
}

.hotel-view {
  align-items: stretch;
  background-color: var(--color-white);
  flex: 1;
  height: 80rem;
}

.sidebar {
  align-items: stretch;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
}
